{{- $pc := .Site.Config.Privacy.Disqus -}}
{{- if not $pc.Disable -}}
{{ if .Site.Config.Services.Disqus.Shortname }}<div id="disqus_thread"></div>
<script src="https://giscus.app/client.js"
        data-repo="techmyth/techmyth.github.io"
        data-repo-id="R_kgDOH_0-oA"
        data-category="General"
        data-category-id="DIC_kwDOH_0-oM4Cv7aB"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>{{end}}
{{- end -}}
